
</main>
<footer>
  <p>
    Want to improve this page or leave some feedback? Guides and support can be found on <a href="https://github.com/b-m-f/freelytics">github</a>.
  </p>
</footer>
<script type="text/javascript" async defer src="static/js/global.js"></script>
{{#each scripts}}
<script type="text/javascript" defer src="static/js/{{this}}"></script>
{{/each}}
  <script>
      (function a(e){var t=document.createElement("a");t.href=window.location.href;var n=t.href,a=t.hostname;fetch("".concat(e,"/save"),{method:"POST",headers:{Accept:"application/json","Content-Type":"application/json"},body:JSON.stringify({url:n,root:a})})}("https://api.freelytics.net"))
  </script>
</body>
</html>
