
</main>
<footer>
  <p>
    Want to improve this page or leave some feedback? Guides and support can be found on <a href="https://github.com/b-m-f/freelytics">github</a>.
  </p>
</footer>
<script type="text/javascript" async defer src="static/js/global.js"></script>
{{#each scripts}}
<script type="text/javascript" defer src="static/js/{{this}}"></script>
{{/each}}
  <script>
  (function o(e){var t=document.createElement("a");t.href=window.location.href;var n=t.href,o=t.hostname,r=JSON.stringify({url:n,root:o}),c="".concat(e,"/save");"fetch"in window?fetch(c,{method:"POST",headers:{Accept:"application/json","Content-Type":"application/json"},body:r}):function(e,t){var n=new XMLHttpRequest;n.open("POST",e),n.setRequestHeader("Content-Type","application/json"),n.setRequestHeader("Accept","application/json"),n.send(t)}(c,r)}("https://api.freelytics.net"))
  </script>
</body>
</html>
